# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
*.lock
*.g.dart
*.freezed.dart
*.mocks.dart
.secret/
*.jks
*.keystore

# Android
android/app/build/
android/app/release/
android/.gradle/
android/local.properties
android/key.properties

# iOS (Pods)
ios/Pods/
ios/Podfile.lock
ios/.symlinks/

# macOS
macos/Pods/
macos/Podfile.lock

# Web
build/web/

# Environment
.env
.env.*